.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  height: 100%;
  /* flex: 1 0 auto; */
  flex: 1 0 50%;
  background: rgb(245, 249, 245);
  border-radius: 3px;
  border: 0.009em solid rgb(114, 116, 114);

}
.wrapper h1 {
  color: gray;
  /* margin-left: 0.5em; */
  padding: 0 10px;
}
.Stock-Available {
  /* background:white */
}

.stock-in {
  /* background: blue */
}

.Products-Available {
  /* background: red */
}

.Available-Products-percentage {
  /* backgrounrgb(14, 31, 34)65) */
}

.sales {
  /* background: rgb(142, 165, 42) */
}

.Suppliers {
  /* background: rgb(165, 42, 161) */
}
