import React from 'react'
export default class Contact extends React.Component{
	render(){
		return(


			
		)
	}
}



<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-compatible" content="i=edge">
        <link rel="stylesheet" href="../css/conta.css">
        <title>My first contact page</title>
     </head>
    <body>
        <section id="main">
            <div id="leftdiv">
                <h2 id="head">CONTACT US</h2>
                <P id="mess">We are happy to answer any questions you have or provide you with any estimate. Just send us a <br> message in the form below.</P>
                <form method="post" action="">
                    <label for="name">Your name(required)</label><br>
                    <input type="text" id="name" name="name" placeholder="" style="border-style: hidden" "color: white;" required><br>
                    <label for="email">Your email(required)</label><br>
                    <input type="email" id="email" name="email" placeholder=""  style="border-style: hidden" required><br>
                    
                    <label for="subject">Subject</label><br>
                    <input type="text" id="subject" name="name" placeholder="" style="border-style: hidden"><br>
                    
                    <label for="message">Your message</label><br>
                    <textarea type="text" id="message" name="message" placeholder="" style="border-style: hidden" padding=5em ></textarea><br>
                   
                    <input class='in' type="submit" name="submit" id="submit" value="SEND"><br>
                </form>
            </div>
            <div id="rightdiv">
                <h4 id="head">EMAIL</h4>
                <p id="dip">dexiouz@gmail.com</p>
                 
                <h4 id="head">PHONE</h4>
                <p id="dip">+234816 183 7080</p>
            
                <h4 id="head">ON THE WEB</h4>
                <p><span id="fb">fb</span> <span id="fb">Linkedln </span> <span id="fb"> Twitter</span></p>
            </div>
        </section>
    